.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  width: 30%;
}

#content {
  width: 70%;
}

.weather-card{
  width: 20%;
}

h1{
  font-size:35px;
}

h2{
  width: 100%;
  font-size:30px;
}